@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cyber-scroll::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.cyber-scroll::-webkit-scrollbar-track {
  background: #131313;
}
.cyber-scroll::-webkit-scrollbar-thumb {
  background: #3c494e;
}
.cyber-scroll::-webkit-scrollbar-thumb:hover {
  background: #00d4ff;
}

.cyber-selection ::selection {
  background: #00d4ff;
  color: #050505;
}
